$c-white: #ffffff;
$c-battleship-grey: #888888;
$c-eerie-black: #1f1f1f;

$c-alice-blue: #e1f1ff;
$c-baby-blue-eyes: #9dd1ff;
$c-blue-jeans: #48aaff;
$c-dodger-blue: #348efe;

$color-primary: #60a9ff;
$color-primary-dark: #016ff9;

$color-secondary: #101d2c;

$color-background: $color-primary;